<div class="card">
  <div class="card-header">
    Home page
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">
        <h1><a [routerLink]="[ '/products' ]"> All Products </a></h1>
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Chamod Devinda</h3>
      </div>

      <div class="text-center">@ChampdDevinda</div>
      <div class="text-center">
        <a href="https://web.facebook.com/Chamod.Devinda1997/">https://web.facebook.com/Chamod.Devinda1997/</a>
      </div>
      <div class="text-center">
        <p>This project is created with deborah-kurata (profile :- https://app.pluralsight.com/profile/author/deborah-kurata)</p>
      </div>
    </div>
  </div>
</div>
